<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lux.ex092firebasecloudmessagingpush">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ex092FirebaseCloudMessagingPUSH">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <!-- FCM Service 등록-->
        <service android:name=".MyFCMService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    <!--   백그라운드 상태일때 알림메세지 유형을 받으면 기본알림이 보여짐     -->
    <!--   하지만 아무설정도 없으면 둥근 원의 아이콘이 그냥 보여짐. 이게 싫으면     -->
        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_fcm_noti" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. [알림 색상] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/sky" />
    </application>

</manifest>